* {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #666;
}

main {
  max-width: 800px;
}

/*
 *
 * Header
 *
 */

header {
  padding: 20px 0;
  max-width: 800px;
  width: 100%;
}

.grey-line {
  height: 1px;
  display: block;
  margin: 10px;
  background: #f2f2f2; /* Old browsers */
  background: -moz-linear-gradient(left,  #f2f2f2 0%, #adadad 50%, #f2f2f2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #f2f2f2 0%,#adadad 50%,#f2f2f2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #f2f2f2 0%,#adadad 50%,#f2f2f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#f2f2f2',GradientType=1 ); /* IE6-9 */
}

.logo {
  max-width: 150px;
  display: block;
}


/*
 *
 * Content
 *
 */
.container {
  max-width: 800px;
  width:100%;

}

.perfil {
  text-align: right;
}

.perfil h1 {
  font-weight: 100;
}

@media screen and (max-width: 750px) {
  .perfil h1 {
    margin-top: 0;
    font-size: 30px;
  }
}

.card-work h3 {
  width: 80%;
  margin: 10px auto;
}

/*
 *
 * Modal
 *
 */
 .modal .modal-body p {
   padding: 10px;
 }

.btn-see-on {
  color: #fff;
  background-color: #cccccc;
  border-color: #f5f5f5;
}

.btn-see-on i {
  padding: 0 5px;
  color: #929292;
}

/*
 *
 * Common
 *
 */
.img-responsive {
  margin: auto;
}

.social li a{
  color: #666;
  min-width: 40px;
  min-height: 40px;
}

.social i {
  padding-right: 10px;
}
